appdirs
asgiref
backcall
black
click
decorator
fastapi
Flask
gunicorn
h11
httptools
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
jupyter-client
jupyter-core
MarkupSafe
matplotlib-inline
mypy-extensions
parso
pathspec
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pydantic
Pygments
python-dateutil
python-dotenv
python-multipart
PyYAML
pyzmq
regex
six
starlette
toml
tornado
traitlets
typing-extensions
uvicorn
watchgod
wcwidth
websockets
Werkzeug
